{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es2022",
		"paths": {
			"#lib/*": ["./lib/*"]
		},
		"baseUrl": "./src"
	},
	"module": {
		"type": "commonjs"
	}
}
